[user]
	name = Jim Thoenen
	email = jthoenen@gmail.com
[core]
	editor = gvim -f
	autocrlf = false
[alias]
	st = status
	dt = difftool --dir-diff
	dtc = difftool --dir-diff --cached
	dts = difftool --dir-diff --cached
	k = !gitk --all &
	co = checkout
[diff]
	tool = meld
[merge]
	tool = meld
[color]
	ui = auto
